<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261501057237-9i1io5kdkq42t3mk41nhngh287fadhbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261501057237-9i1io5kdkq42t3mk41nhngh287fadhbp</string>
	<key>API_KEY</key>
	<string>AIzaSyBsVF1-yrSgPC2DaYvROcN7dCZGT9FxTFk</string>
	<key>GCM_SENDER_ID</key>
	<string>261501057237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SWIFT-COMP350.InventoriumProject</string>
	<key>PROJECT_ID</key>
	<string>inventorium350</string>
	<key>STORAGE_BUCKET</key>
	<string>inventorium350.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261501057237:ios:75eeb49777a31a0fce0a5c</string>
	<key>DATABASE_URL</key>
	<string>https://inventorium350.firebaseio.com</string>
</dict>
</plist>